<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>北京市</key>
	<dict>
		<key>shortcut</key>
		<string>京</string>
		<key>citys</key>
		<dict>
			<key>101010100</key>
			<string>北京市</string>
		</dict>
	</dict>
	<key>上海市</key>
	<dict>
		<key>shortcut</key>
		<string>沪</string>
		<key>citys</key>
		<dict>
			<key>101020100</key>
			<string>上海市</string>
		</dict>
	</dict>
	<key>重庆市</key>
	<dict>
		<key>shortcut</key>
		<string>渝</string>
		<key>citys</key>
		<dict>
			<key>101040100</key>
			<string>重庆市</string>
		</dict>
	</dict>
	<key>天津市</key>
	<dict>
		<key>shortcut</key>
		<string>津</string>
		<key>citys</key>
		<dict>
			<key>101030100</key>
			<string>天津市</string>
		</dict>
	</dict>
	<key>江苏省</key>
	<dict>
		<key>shortcut</key>
		<string>苏</string>
		<key>citys</key>
		<dict>
			<key>101190101</key>
			<string>南京市</string>
			<key>101190201</key>
			<string>无锡市</string>
			<key>101190301</key>
			<string>镇江市</string>
			<key>101190401</key>
			<string>苏州市</string>
			<key>101190501</key>
			<string>南通市</string>
			<key>101190601</key>
			<string>扬州市</string>
			<key>101190701</key>
			<string>盐城市</string>
			<key>101190801</key>
			<string>徐州市</string>
			<key>101190901</key>
			<string>淮安市</string>
			<key>101191001</key>
			<string>连云港市</string>
			<key>101191101</key>
			<string>常州市</string>
			<key>101191201</key>
			<string>泰州市</string>
			<key>101191301</key>
			<string>宿迁市</string>
		</dict>
	</dict>
</dict>
</plist>
