<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>北京市</key>
	<dict>
		<key>shortcut</key>
		<string>京</string>
		<key>citys</key>
		<dict>
			<key>101010100</key>
			<string>北京市</string>
		</dict>
	</dict>
	<key>上海市</key>
	<dict>
		<key>shortcut</key>
		<string>沪</string>
		<key>citys</key>
		<dict>
			<key>101020100</key>
			<string>上海市</string>
		</dict>
	</dict>
	<key>重庆市</key>
	<dict>
		<key>shortcut</key>
		<string>渝</string>
		<key>citys</key>
		<dict>
			<key>101040100</key>
			<string>重庆市</string>
		</dict>
	</dict>
	<key>天津市</key>
	<dict>
		<key>shortcut</key>
		<string>津</string>
		<key>citys</key>
		<dict>
			<key>101030100</key>
			<string>天津市</string>
		</dict>
	</dict>
	<key>江苏省</key>
	<dict>
		<key>shortcut</key>
		<string>苏</string>
		<key>citys</key>
		<dict>
			<key>101190101</key>
			<string>南京市</string>
			<key>101190201</key>
			<string>无锡市</string>
			<key>101190301</key>
			<string>镇江市</string>
			<key>101190401</key>
			<string>苏州市</string>
			<key>101190501</key>
			<string>南通市</string>
			<key>101190601</key>
			<string>扬州市</string>
			<key>101190701</key>
			<string>盐城市</string>
			<key>101190801</key>
			<string>徐州市</string>
			<key>101190901</key>
			<string>淮安市</string>
			<key>101191001</key>
			<string>连云港市</string>
			<key>101191101</key>
			<string>常州市</string>
			<key>101191201</key>
			<string>泰州市</string>
			<key>101191301</key>
			<string>宿迁市</string>
		</dict>
	</dict>
	<key>河北省</key>
	<dict>
		<key>shortcut</key>
		<string>冀</string>
		<key>citys</key>
		<dict>
			<key>101090101</key>
			<string>石家庄市</string>
			<key>101090201</key>
			<string>保定市</string>
			<key>101090301</key>
			<string>张家口市</string>
			<key>101090402</key>
			<string>承德市</string>
			<key>101090501</key>
			<string>唐山市</string>
			<key>101090601</key>
			<string>廊坊市</string>
			<key>101090701</key>
			<string>沧州市</string>
			<key>101090801</key>
			<string>衡水市</string>
			<key>101090901</key>
			<string>邢台市</string>
			<key>101091001</key>
			<string>邯郸市</string>
			<key>101091101</key>
			<string>秦皇岛市</string>
		</dict>
	</dict>
	<key>黑龙江省</key>
	<dict>
		<key>shortcut</key>
		<string>黑</string>
		<key>citys</key>
		<dict>
			<key>101050101</key>
			<string>哈尔滨市</string>
			<key>101050201</key>
			<string>齐齐哈尔市</string>
			<key>101050301</key>
			<string>牡丹江市</string>
			<key>101050401</key>
			<string>佳木斯市</string>
			<key>101050501</key>
			<string>绥化市</string>
			<key>101050601</key>
			<string>黑河市</string>
			<key>101050701</key>
			<string>大兴安岭地区</string>
			<key>101050801</key>
			<string>伊春市</string>
			<key>101050901</key>
			<string>大庆市</string>
			<key>101051002</key>
			<string>七台河市</string>
			<key>101051101</key>
			<string>鸡西市</string>
			<key>101051201</key>
			<string>鹤岗市</string>
			<key>101051301</key>
			<string>双鸭山市</string>
		</dict>
	</dict>
	<key>吉林省</key>
	<dict>
		<key>shortcut</key>
		<string>吉</string>
		<key>citys</key>
		<dict>
			<key>101060101</key>
			<string>长春市</string>
			<key>101060201</key>
			<string>吉林市</string>
			<key>101060301</key>
			<string>延边朝鲜族自治州</string>
			<key>101060401</key>
			<string>四平市</string>
			<key>101060501</key>
			<string>通化市</string>
			<key>101060601</key>
			<string>白城市</string>
			<key>101060701</key>
			<string>辽源市</string>
			<key>101060801</key>
			<string>松原市</string>
			<key>101060901</key>
			<string>白山市</string>
		</dict>
	</dict>
	<key>辽宁省</key>
	<dict>
		<key>shortcut</key>
		<string>辽</string>
		<key>citys</key>
		<dict>
			<key>101070101</key>
			<string>沈阳市</string>
			<key>101070201</key>
			<string>大连市</string>
			<key>101070301</key>
			<string>鞍山市</string>
			<key>101070401</key>
			<string>抚顺市</string>
			<key>101070501</key>
			<string>本溪市</string>
			<key>101070601</key>
			<string>丹东市</string>
			<key>101070701</key>
			<string>锦州市</string>
			<key>101070801</key>
			<string>营口市</string>
			<key>101070901</key>
			<string>阜新市</string>
			<key>101071001</key>
			<string>辽阳市</string>
			<key>101071101</key>
			<string>铁岭市</string>
			<key>101071201</key>
			<string>朝阳市</string>
			<key>101071301</key>
			<string>盘锦市</string>
			<key>101071401</key>
			<string>葫芦岛市</string>
		</dict>
	</dict>
	<key>内蒙古</key>
	<dict>
		<key>shortcut</key>
		<string>蒙</string>
		<key>citys</key>
		<dict>
			<key>101080101</key>
			<string>呼和浩特市</string>
			<key>101080201</key>
			<string>包头市</string>
			<key>101080301</key>
			<string>乌海市</string>
			<key>101080401</key>
			<string>乌兰察布市</string>
			<key>101080501</key>
			<string>通辽市</string>
			<key>101080601</key>
			<string>赤峰市</string>
			<key>101080701</key>
			<string>鄂尔多斯市</string>
			<key>101080801</key>
			<string>巴彦淖尔市</string>
			<key>101080901</key>
			<string>锡林郭勒盟</string>
			<key>101081001</key>
			<string>呼伦贝尔市</string>
			<key>101081101</key>
			<string>兴安盟</string>
			<key>101081201</key>
			<string>阿拉善盟</string>
		</dict>
	</dict>
	<key>山西省</key>
	<dict>
		<key>shortcut</key>
		<string>晋</string>
		<key>citys</key>
		<dict>
			<key>101100101</key>
			<string>太原市</string>
			<key>101100201</key>
			<string>大同市</string>
			<key>101100301</key>
			<string>阳泉市</string>
			<key>101100401</key>
			<string>晋中市</string>
			<key>101100501</key>
			<string>长治市</string>
			<key>101100601</key>
			<string>晋城市</string>
			<key>101100701</key>
			<string>临汾市</string>
			<key>101100801</key>
			<string>运城市</string>
			<key>101100901</key>
			<string>朔州市</string>
			<key>101101001</key>
			<string>忻州市</string>
			<key>101101100</key>
			<string>吕梁市</string>
		</dict>
	</dict>
	<key>陕西省</key>
	<dict>
		<key>shortcut</key>
		<string>陕</string>
		<key>citys</key>
		<dict>
			<key>101110101</key>
			<string>西安市</string>
			<key>101110200</key>
			<string>咸阳市</string>
			<key>101110300</key>
			<string>延安市</string>
			<key>101110401</key>
			<string>榆林市</string>
			<key>101110501</key>
			<string>渭南市</string>
			<key>101110601</key>
			<string>商洛市</string>
			<key>101110701</key>
			<string>安康市</string>
			<key>101110801</key>
			<string>汉中市</string>
			<key>101110901</key>
			<string>宝鸡市</string>
			<key>101111001</key>
			<string>铜川市</string>
			<key>101111101</key>
			<string>杨凌市</string>
		</dict>
	</dict>
	<key>山东省</key>
	<dict>
		<key>shortcut</key>
		<string>鲁</string>
		<key>citys</key>
		<dict>
			<key>101120101</key>
			<string>济南市</string>
			<key>101120201</key>
			<string>青岛市</string>
			<key>101120301</key>
			<string>淄博市</string>
			<key>101120401</key>
			<string>德州市</string>
			<key>101120501</key>
			<string>烟台市</string>
			<key>101120601</key>
			<string>潍坊市</string>
			<key>101120701</key>
			<string>济宁市</string>
			<key>101120801</key>
			<string>泰安市</string>
			<key>101120901</key>
			<string>临沂市</string>
			<key>101121001</key>
			<string>菏泽市</string>
			<key>101121101</key>
			<string>滨州市</string>
			<key>101121201</key>
			<string>东营市</string>
			<key>101121301</key>
			<string>威海市</string>
			<key>101121401</key>
			<string>枣庄市</string>
			<key>101121501</key>
			<string>日照市</string>
			<key>101121601</key>
			<string>莱芜市</string>
			<key>101121701</key>
			<string>聊城市</string>
		</dict>
	</dict>
	<key>新疆</key>
	<dict>
		<key>shortcut</key>
		<string>新</string>
		<key>citys</key>
		<dict>
			<key>101130101</key>
			<string>乌鲁木齐市</string>
			<key>101130201</key>
			<string>克拉玛依市</string>
			<key>101130301</key>
			<string>石河子市</string>
			<key>101130401</key>
			<string>昌吉回族自治州</string>
			<key>101130501</key>
			<string>吐鲁番地区</string>
			<key>101130601</key>
			<string>巴音郭楞蒙古自治州</string>
			<key>101130701</key>
			<string>克孜勒苏柯尔克孜自治州</string>
			<key>101130801</key>
			<string>阿克苏地区</string>
			<key>101130901</key>
			<string>喀什地区</string>
			<key>101131001</key>
			<string>伊犁哈萨克自治州</string>
			<key>101131101</key>
			<string>塔城地区</string>
			<key>101131201</key>
			<string>哈密地区</string>
			<key>101131301</key>
			<string>和田地区</string>
			<key>101131401</key>
			<string>阿勒泰地区</string>
			<key>101131501</key>
			<string>阿图什地区</string>
			<key>101131601</key>
			<string>博尔塔拉蒙古自治州</string>
		</dict>
	</dict>
	<key>西藏</key>
	<dict>
		<key>shortcut</key>
		<string>藏</string>
		<key>citys</key>
		<dict>
			<key>101140101</key>
			<string>拉萨市</string>
			<key>101140201</key>
			<string>日喀则市</string>
			<key>101140301</key>
			<string>山南地区</string>
			<key>101140401</key>
			<string>林芝地区</string>
			<key>101140501</key>
			<string>昌都市</string>
			<key>101140601</key>
			<string>那曲地区</string>
			<key>101140701</key>
			<string>阿里地区</string>
		</dict>
	</dict>
	<key>青海</key>
	<dict>
		<key>shortcut</key>
		<string>青</string>
		<key>citys</key>
		<dict>
			<key>101150101</key>
			<string>西宁市</string>
			<key>101150201</key>
			<string>海东市</string>
			<key>101150301</key>
			<string>黄南藏族自治州</string>
			<key>101150401</key>
			<string>海南藏族自治州</string>
			<key>101150501</key>
			<string>果洛藏族自治州</string>
			<key>101150601</key>
			<string>玉树藏族自治州</string>
			<key>101150701</key>
			<string>海西蒙古族藏族自治州</string>
			<key>101150801</key>
			<string>海北藏族自治州</string>
			<key>101150901</key>
			<string>格尔木市</string>
		</dict>
	</dict>
	<key>甘肃省</key>
	<dict>
		<key>shortcut</key>
		<string>甘</string>
		<key>citys</key>
		<dict>
			<key>101160101</key>
			<string>兰州市</string>
			<key>101160201</key>
			<string>定西市</string>
			<key>101160301</key>
			<string>平凉市</string>
			<key>101160401</key>
			<string>庆阳市</string>
			<key>101160501</key>
			<string>武威市</string>
			<key>101160601</key>
			<string>金昌市</string>
			<key>101160701</key>
			<string>张掖市</string>
			<key>101160801</key>
			<string>酒泉市</string>
			<key>101160901</key>
			<string>天水市</string>
			<key>101161001</key>
			<string>陇南市</string>
			<key>101161101</key>
			<string>临夏回族自治州</string>
			<key>101161201</key>
			<string>甘南藏族自治州</string>
			<key>101161301</key>
			<string>白银市</string>
			<key>101161401</key>
			<string>嘉峪关市</string>
		</dict>
	</dict>
	<key>宁夏</key>
	<dict>
		<key>shortcut</key>
		<string>宁</string>
		<key>citys</key>
		<dict>
			<key>101170101</key>
			<string>银川市</string>
			<key>101170201</key>
			<string>石嘴山市</string>
			<key>101170301</key>
			<string>吴忠市</string>
			<key>101170401</key>
			<string>固原市</string>
			<key>101170501</key>
			<string>中卫市</string>
		</dict>
	</dict>
	<key>河南省</key>
	<dict>
		<key>shortcut</key>
		<string>豫</string>
		<key>citys</key>
		<dict>
			<key>101180101</key>
			<string>郑州市</string>
			<key>101180201</key>
			<string>安阳市</string>
			<key>101180301</key>
			<string>新乡市</string>
			<key>101180401</key>
			<string>许昌市</string>
			<key>101180501</key>
			<string>平顶山市</string>
			<key>101180601</key>
			<string>信阳市</string>
			<key>101180701</key>
			<string>南阳市</string>
			<key>101180801</key>
			<string>开封市</string>
			<key>101180901</key>
			<string>洛阳市</string>
			<key>101181001</key>
			<string>商丘市</string>
			<key>101181101</key>
			<string>焦作市</string>
			<key>101181201</key>
			<string>鹤壁市</string>
			<key>101181301</key>
			<string>濮阳市</string>
			<key>101181401</key>
			<string>周口市</string>
			<key>101181501</key>
			<string>漯河市</string>
			<key>101181601</key>
			<string>驻马店市</string>
			<key>101181701</key>
			<string>三门峡市</string>
			<key>101181801</key>
			<string>济源市</string>
		</dict>
	</dict>
	<key>湖北省</key>
	<dict>
		<key>shortcut</key>
		<string>鄂</string>
		<key>citys</key>
		<dict>
			<key>101200101</key>
			<string>武汉市</string>
			<key>101200201</key>
			<string>襄阳市</string>
			<key>101200301</key>
			<string>鄂州市</string>
			<key>101200401</key>
			<string>孝感市</string>
			<key>101200501</key>
			<string>黄冈市</string>
			<key>101200601</key>
			<string>黄石市</string>
			<key>101200701</key>
			<string>咸宁市</string>
			<key>101200801</key>
			<string>荆州市</string>
			<key>101200901</key>
			<string>宜昌市</string>
			<key>101201001</key>
			<string>恩施土家族苗族自治州</string>
			<key>101201101</key>
			<string>十堰市</string>
			<key>101201201</key>
			<string>神农架林区</string>
			<key>101201301</key>
			<string>随州市</string>
			<key>101201401</key>
			<string>荆门市</string>
			<key>101201501</key>
			<string>天门市</string>
			<key>101201601</key>
			<string>仙桃市</string>
			<key>101201701</key>
			<string>潜江市</string>
		</dict>
	</dict>
	<key>浙江省</key>
	<dict>
		<key>shortcut</key>
		<string>浙</string>
		<key>citys</key>
		<dict>
			<key>101210101</key>
			<string>杭州市</string>
			<key>101210201</key>
			<string>湖州市</string>
			<key>101210301</key>
			<string>嘉兴市</string>
			<key>101210401</key>
			<string>宁波市</string>
			<key>101210501</key>
			<string>绍兴市</string>
			<key>101210601</key>
			<string>台州市</string>
			<key>101210701</key>
			<string>温州市</string>
			<key>101210801</key>
			<string>丽水市</string>
			<key>101210901</key>
			<string>金华市</string>
			<key>101211001</key>
			<string>衢州市</string>
			<key>101211101</key>
			<string>舟山市</string>
		</dict>
	</dict>
	<key>安徽省</key>
	<dict>
		<key>shortcut</key>
		<string>皖</string>
		<key>citys</key>
		<dict>
			<key>101220101</key>
			<string>合肥市</string>
			<key>101220201</key>
			<string>蚌埠市</string>
			<key>101220301</key>
			<string>芜湖市</string>
			<key>101220401</key>
			<string>淮南市</string>
			<key>101220501</key>
			<string>马鞍山市</string>
			<key>101220601</key>
			<string>安庆市</string>
			<key>101220701</key>
			<string>宿州市</string>
			<key>101220801</key>
			<string>阜阳市</string>
			<key>101220901</key>
			<string>亳州市</string>
			<key>101221001</key>
			<string>黄山市</string>
			<key>101221101</key>
			<string>滁州市</string>
			<key>101221201</key>
			<string>淮北市</string>
			<key>101221301</key>
			<string>铜陵市</string>
			<key>101221401</key>
			<string>宣城市</string>
			<key>101221501</key>
			<string>六安市</string>
			<key>101221701</key>
			<string>池州市</string>
		</dict>
	</dict>
	<key>福建省</key>
	<dict>
		<key>shortcut</key>
		<string>闽</string>
		<key>citys</key>
		<dict>
			<key>101230101</key>
			<string>福州市</string>
			<key>101230201</key>
			<string>厦门市</string>
			<key>101230301</key>
			<string>宁德市</string>
			<key>101230401</key>
			<string>莆田市</string>
			<key>101230501</key>
			<string>泉州市</string>
			<key>101230601</key>
			<string>漳州市</string>
			<key>101230701</key>
			<string>龙岩市</string>
			<key>101230801</key>
			<string>三明市</string>
			<key>101230901</key>
			<string>南平市</string>
		</dict>
	</dict>
	<key>江西省</key>
	<dict>
		<key>shortcut</key>
		<string>赣</string>
		<key>citys</key>
		<dict>
			<key>101240101</key>
			<string>南昌市</string>
			<key>101240201</key>
			<string>九江市</string>
			<key>101240301</key>
			<string>上饶市</string>
			<key>101240401</key>
			<string>抚州市</string>
			<key>101240501</key>
			<string>宜春市</string>
			<key>101240601</key>
			<string>吉安市</string>
			<key>101240701</key>
			<string>赣州市</string>
			<key>101240801</key>
			<string>景德镇市</string>
			<key>101240901</key>
			<string>萍乡市</string>
			<key>101241001</key>
			<string>新余市</string>
			<key>101241101</key>
			<string>鹰潭市</string>
		</dict>
	</dict>
	<key>湖南省</key>
	<dict>
		<key>shortcut</key>
		<string>湘</string>
		<key>citys</key>
		<dict>
			<key>101250101</key>
			<string>长沙市</string>
			<key>101250201</key>
			<string>湘潭市</string>
			<key>101250301</key>
			<string>株洲市</string>
			<key>101250401</key>
			<string>衡阳市</string>
			<key>101250501</key>
			<string>郴州市</string>
			<key>101250601</key>
			<string>常德市</string>
			<key>101250700</key>
			<string>益阳市</string>
			<key>101250801</key>
			<string>娄底市</string>
			<key>101250901</key>
			<string>邵阳市</string>
			<key>101251001</key>
			<string>岳阳市</string>
			<key>101251101</key>
			<string>张家界市</string>
			<key>101251201</key>
			<string>怀化市</string>
			<key>101251401</key>
			<string>永州市</string>
			<key>101251501</key>
			<string>湘西土家族苗族自治州</string>
		</dict>
	</dict>
	<key>贵州省</key>
	<dict>
		<key>shortcut</key>
		<string>黔</string>
		<key>citys</key>
		<dict>
			<key>101260101</key>
			<string>贵阳市</string>
			<key>101260201</key>
			<string>遵义市</string>
			<key>101260301</key>
			<string>安顺市</string>
			<key>101260401</key>
			<string>黔南布依族苗族自治州</string>
			<key>101260501</key>
			<string>黔东南苗族侗族自治州</string>
			<key>101260601</key>
			<string>铜仁市</string>
			<key>101260701</key>
			<string>毕节市</string>
			<key>101260801</key>
			<string>六盘水市</string>
			<key>101260901</key>
			<string>黔西南布依族苗族自治州</string>
		</dict>
	</dict>
	<key>四川省</key>
	<dict>
		<key>shortcut</key>
		<string>川</string>
		<key>citys</key>
		<dict>
			<key>101270101</key>
			<string>成都市</string>
			<key>101270201</key>
			<string>攀枝花市</string>
			<key>101270301</key>
			<string>自贡市</string>
			<key>101270401</key>
			<string>绵阳市</string>
			<key>101270501</key>
			<string>南充市</string>
			<key>101270601</key>
			<string>达州市</string>
			<key>101270701</key>
			<string>遂宁市</string>
			<key>101270801</key>
			<string>广安市</string>
			<key>101270901</key>
			<string>巴中市</string>
			<key>101271001</key>
			<string>泸州市</string>
			<key>101271101</key>
			<string>宜宾市</string>
			<key>101271201</key>
			<string>内江市</string>
			<key>101271301</key>
			<string>资阳市</string>
			<key>101271401</key>
			<string>乐山市</string>
			<key>101271501</key>
			<string>眉山市</string>
			<key>101271601</key>
			<string>凉山彝族自治州</string>
			<key>101271701</key>
			<string>雅安市</string>
			<key>101271801</key>
			<string>甘孜藏族自治州</string>
			<key>101271901</key>
			<string>阿坝藏族羌族自治州</string>
			<key>101272001</key>
			<string>德阳市</string>
			<key>101272101</key>
			<string>广元市</string>
		</dict>
	</dict>
	<key>广东省</key>
	<dict>
		<key>shortcut</key>
		<string>粤</string>
		<key>citys</key>
		<dict>
			<key>101280101</key>
			<string>广州市</string>
			<key>101280201</key>
			<string>韶关市</string>
			<key>101280301</key>
			<string>惠州市</string>
			<key>101280401</key>
			<string>梅州市</string>
			<key>101280501</key>
			<string>汕头市</string>
			<key>101280601</key>
			<string>深圳市</string>
			<key>101280701</key>
			<string>珠海市</string>
			<key>101280800</key>
			<string>佛山市</string>
			<key>101280901</key>
			<string>肇庆市</string>
			<key>101281001</key>
			<string>湛江市</string>
			<key>101281101</key>
			<string>江门市</string>
			<key>101281201</key>
			<string>河源市</string>
			<key>101281301</key>
			<string>清远市</string>
			<key>101281401</key>
			<string>云浮市</string>
			<key>101281501</key>
			<string>潮州市</string>
			<key>101281601</key>
			<string>东莞市</string>
			<key>101281701</key>
			<string>中山市</string>
			<key>101281801</key>
			<string>阳江市</string>
			<key>101281901</key>
			<string>揭阳市</string>
			<key>101282001</key>
			<string>茂名市</string>
			<key>101282101</key>
			<string>汕尾市</string>
		</dict>
	</dict>
	<key>云南省</key>
	<dict>
		<key>shortcut</key>
		<string>滇</string>
		<key>citys</key>
		<dict>
			<key>101290101</key>
			<string>昆明市</string>
			<key>101290201</key>
			<string>大理白族自治州</string>
			<key>101290301</key>
			<string>红河哈尼族彝族自治州</string>
			<key>101290401</key>
			<string>曲靖市</string>
			<key>101290501</key>
			<string>保山市</string>
			<key>101290601</key>
			<string>文山壮族苗族自治州</string>
			<key>101290701</key>
			<string>玉溪市</string>
			<key>101290801</key>
			<string>楚雄彝族自治州</string>
			<key>101290901</key>
			<string>普洱市</string>
			<key>101291001</key>
			<string>昭通市</string>
			<key>101291101</key>
			<string>临沧市</string>
			<key>101291201</key>
			<string>怒江傈僳族自治州</string>
			<key>101291301</key>
			<string>迪庆藏族自治州</string>
			<key>101291401</key>
			<string>丽江市</string>
			<key>101291501</key>
			<string>德宏傣族景颇族自治州</string>
			<key>101291601</key>
			<string>西双版纳傣族自治州</string>
		</dict>
	</dict>
	<key>广西</key>
	<dict>
		<key>shortcut</key>
		<string>桂</string>
		<key>citys</key>
		<dict>
			<key>101300101</key>
			<string>南宁市</string>
			<key>101300201</key>
			<string>崇左市</string>
			<key>101300301</key>
			<string>柳州市</string>
			<key>101300401</key>
			<string>来宾市</string>
			<key>101300501</key>
			<string>桂林市</string>
			<key>101300601</key>
			<string>梧州市</string>
			<key>101300701</key>
			<string>贺州市</string>
			<key>101300801</key>
			<string>贵港市</string>
			<key>101300901</key>
			<string>玉林市</string>
			<key>101301001</key>
			<string>百色市</string>
			<key>101301101</key>
			<string>钦州市</string>
			<key>101301201</key>
			<string>河池市</string>
			<key>101301301</key>
			<string>北海市</string>
			<key>101301401</key>
			<string>防城港市</string>
		</dict>
	</dict>
	<key>海南省</key>
	<dict>
		<key>shortcut</key>
		<string>琼</string>
		<key>citys</key>
		<dict>
			<key>101310101</key>
			<string>海口市</string>
			<key>101310201</key>
			<string>三亚市</string>
			<key>101310202</key>
			<string>东方市</string>
			<key>101310203</key>
			<string>临高县</string>
			<key>101310204</key>
			<string>澄迈县</string>
			<key>101310205</key>
			<string>儋州市</string>
			<key>101310206</key>
			<string>昌江黎族自治县</string>
			<key>101310207</key>
			<string>白沙黎族自治县</string>
			<key>101310208</key>
			<string>琼中黎族苗族自治县</string>
			<key>101310209</key>
			<string>定安县</string>
			<key>101310210</key>
			<string>屯昌县</string>
			<key>101310211</key>
			<string>琼海市</string>
			<key>101310212</key>
			<string>文昌市</string>
			<key>101310214</key>
			<string>保亭黎族苗族自治县</string>
			<key>101310215</key>
			<string>万宁市</string>
			<key>101310216</key>
			<string>陵水黎族自治县</string>
			<key>101310221</key>
			<string>乐东黎族自治县</string>
			<key>101310222</key>
			<string>五指山市</string>
		</dict>
	</dict>
	<key>香港</key>
	<dict>
		<key>shortcut</key>
		<string>港</string>
		<key>citys</key>
		<dict>
			<key>101320101</key>
			<string>香港特別行政區</string>
		</dict>
	</dict>
	<key>澳门</key>
	<dict>
		<key>shortcut</key>
		<string>澳</string>
		<key>citys</key>
		<dict>
			<key>101330101</key>
			<string>澳門特別行政區</string>
		</dict>
	</dict>
</dict>
</plist>
