<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<real>11399679</real>
	<key>1</key>
	<real>11399679</real>
	<key>2</key>
	<real>11399679</real>
	<key>3</key>
	<real>11399679</real>
	<key>4</key>
	<real>11399679</real>
	<key>5</key>
	<real>11399679</real>
	<key>6</key>
	<real>11399679</real>
	<key>7</key>
	<real>11399679</real>
	<key>8</key>
	<real>11399679</real>
	<key>9</key>
	<real>11399679</real>
</dict>
</plist>
